.export-wrap{
  display:inline-block;
  min-width:300px;
  margin:50px auto;
  padding:30px;
  background-color:#fff;
  border-radius:5px;
  box-shadow:3px 3px 8px rgba(0, 0, 0, 0.2);
}

.kensaku-contain{
  display:flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content:space-between;
}

.kensaku-text{
  width:40%;
  color:#666;
  box-sizing:border-box;
}

.kensaku-textbox{
  width:60%;
  margin:5px 0;
  padding:5px;
  box-sizing:border-box;
}

.export-btn{
  width:100px;
  margin:0;
  padding:5px 10px;
  font-weight:bold;
  border:none;
  border-radius:3px;
  color:#fff;
  background-color:#74b9ff;
  box-sizing:border-box;
  transition:ease-in-out .2s;
}

.export-btn:hover{background-color:#0984e3;}

.export_table{margin:20px 0; text-align:left;}
.export_table td{padding:5px 10px; border-bottom:1px dashed #ccc;}
