.touroku-wrap{
  display:block;
  max-width:300px;
  margin:50px auto;
  padding:30px;
  background-color:#fff;
  border-radius:5px;
  box-shadow:3px 3px 8px rgba(0, 0, 0, 0.2);
}

.touroku-contain{
  display:flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content:space-between;
}

.touroku-text{
  width:40%;
  color:#666;
  box-sizing:border-box;
}

.touroku-textbox{
  width:60%;
  margin:5px 0;
  padding:5px;
  box-sizing:border-box;
}

.sinki-btn,.back-btn{
  padding:5px 10px;
  font-weight:bold;
  border:none;
  border-radius:3px;
  background-color:#fff;
  transition:ease-in-out .2s;
}

.sinki-btn{color:#fff; background-color:#74b9ff;}
.back-btn{color:#666; background-color:#f4f4f4;}
.sinki-btn:hover{background-color:#0984e3;}
.back-btn:hover{background-color:#e0e0e0;}
