/* メインメニュー_コンテナ_css */
.syouhin-wrap{
    max-width:300px;
    margin:50px auto;
    padding:30px;
    border-radius:5px;
    background-color:#fff;
    box-shadow:3px 3px 8px rgba(0,0,0,0.3);
}

/* メインメニューボタン_css */
.syouhin-btn{
    width:100%;
    margin-bottom:10px;
    padding:8px 10px;
    background-color:#f4f4f4;
}

.syouhin-btn,.syuuryou-btn{
    display:block;
    color:#666;
    text-align:center;
    text-decoration:none;
    border:1px solid #ccc;
    transition:ease-in-out .2s;
    box-sizing: border-box;
}

.syouhin-btn:hover{
    color:#fff;
    background-color:#ccc;
}

.syuuryou-btn{
    width:30%;
    margin:0 0 0 auto;
    padding:5px 10px;
    color:#fff;
    font-size:14px;
    font-weight:bold;
    border:none;
    border-radius:3px;
    background-color:#ff6b6b;
    box-sizing: border-box;
}

.syuuryou-btn:hover{color:#fff;background-color:#ee5253;}
