.signup_wrap{
    max-width:300px;
    margin:50px auto;
    padding:30px;
    background-color:#fff;
    border-radius:5px;
    box-shadow:3px 3px 8px rgba(0, 0, 0, 0.2);
}

.signup_contain{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:space-between;
}

.signup_text{
    display:block;
    width:40%;
    margin:0;
    padding:0;
    color:#666;
    box-sizing:border-box;
}

.signup_box{
    width:60%;
    margin-bottom:10px;
    box-sizing:border-box;
    padding:5px 10px;
    border:1px solid #ccc;
}

.signup_btn input{
    padding:5px 15px;
    font-weight:bold;
    color:#fff;
    border:none;
    border-radius:3px;
    background-color:#74b9ff;
    transition:ease-in-out .2s;
}

.signup_btn input:hover{
    background-color:#0984e3;
}
.error {
  color:#f00;
  width:100%;
}
